body {
  display: block;
  margin: 0;
  background-color: rgb(190, 190, 190);
}

header {
  background-color: transparent;
  transition: background-color 0.4s ease, padding 0.4s ease;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 0px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
}

header:hover {
  background-color: black;
}

header:hover>nav ul {
  --hover-color: white;

  li a {
      color: var(--hover-color);
  }
}

.logo {
  height: 50px;
  width: 50px;
  display: flex;
  margin-left: 20px;
  padding: 0 20px;
  background-image: url('../media/landing-H-FARM-logo-black.png');
  background-size: contain;
  background-repeat: no-repeat;
}

header:hover>.logo {
  background-image: url('../media/landing-H-FARM-logo-white.png');
  transition: background-image 0.3 ease;
}

.logo:hover {
  opacity: 0.8;
}

nav {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  position: relative;
}

nav ul {
  list-style-type: none;
  display: flex;
  margin: 0;
  padding: 0 20px;
  overflow: hidden;
}

nav ul li {
  margin-right: 20px;
  position: relative;
}

nav ul li:last-child {
  margin-right: 0;
}

nav ul li a {
  color: white;
  text-decoration: none;
  transition: color 0.3s ease;
}

nav ul li a:hover {
  color: #f00;
}

nav ul li ul {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
}

nav ul li:hover ul {
  display: block;
}

video {
  padding: 0;
  margin: 0;
}

.header.scrolled {
  background-color: black;
}

.header.scrolled>nav ul li a {
  color: white;
}

.header.scrolled>.logo {
  background-image: url('../../media/landing-H-FARM-logo-white.png');
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: #333;
  background-color: #f9f9f9;
}

a {
  color: #007aff;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 1rem 0;
  font-weight: normal;
  line-height: 1.5;
}

p {
  margin: 0 0 1.5rem 0;
}

img {
  max-width: 100%;
  height: auto;
}

@media (max-width: 768px) {
  h1 {
    font-size: 3rem !important;
  }

  h2 {
    font-size: 2rem !important;
  }

  p {
    font-size: 0.9rem !important;
  }
}

