#cameraVid, #canvas, #image {
    width: 50vw;
    height: 50vh;
    transform: rotateY(180deg) !important;
    -webkit-transform:rotateY(180deg) !important;
    -moz-transform:rotateY(180deg) !important;
}

#image {
    transform: scale(0.8, 1.1);
}

@media only screen and (max-width: 600px) {
    #cameraVid, #canvas, #image {
        width: 100%;
        height: 50vh;
    }
}
