<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>About Us</title>
    <link rel="stylesheet" href="/../css/aboutUs.css" type="text/css">
    <link rel="stylesheet" href="/../css/common.css" type="text/css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"> </script>
</head>
<body>
    <header class="header">
        <a href="home.ejs" class="logo">
            <img></a>
        <nav>
            <ul>
                <li><a href="contact.ejs">Contact</a></li>
                <li><a href="foodRecognition.ejs">Food Recognition</a></li>
            </ul>
        </nav>
    </header>

    <video width="100%" height="auto" autoplay loop muted webkit-playesinline>
        <source src="../media/AboutUs-Header-video.mp4" type="video/mp4">
        Your browser does not support the video tag.
    </video>

    <div class="video-title">
        <h1 id="page-title-aboutUS">About Us</h1>
    </div>
    
    <section class="section-container">
        <section class="section">
            <h2>Purpose</h2>
            <p>The purpose of this website is to track the amount of food wasted at the canteen of a place. In our case, it is the school canteen that we want to track the food waste of. The way this works is simple. First, you navigate to the "Food Recognition" page of the site, then click the "open camera" button and then analyze the image shown. The page will refresh and it will show you the foods you wasted from the tray. Meanwhile, this data is sent to a database in Firebase Firestore which stores all of the data in different categories so that they can be analysed better. The dataset for training the model was collected by our team and then trained using Pytorch.</p>
        </section>
        <section class="section">
            <h2>Code</h2>
            <p>The website was developed using a variety of diferent tools and programming languages. The whole creation process as well as who contributed to it can be seen at our github repository.</p>
            <a href="https://github.com/Epic-legend128/Food-Recognition" target="_blank"><button>Github Repository</button></a>
        </section>
    </section>
    
    <script src="../js/common.js" type="text/javascript"></script>
</body>
</html>
