<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Contact</title>
    <link rel="stylesheet" href="/../css/contact.css" type="text/css">
    <link rel="stylesheet" href="/../css/common.css" type="text/css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"> </script>
</head>

<body>
    <header class="header">
        <a href="home.ejs" class="logo">
            <img></a>
        <nav>
            <ul>
                <li><a href="aboutUs.ejs">About Us</a></li>
                <li><a href="foodRecognition.ejs">Food Recognition</a></li>
                <li><a href="demo.ejs">Demo</a></li>
            </ul>
        </nav>
    </header>


    <div class="video-title">
        <h1 id="page-title-contact">Contact</h1>
      </div>
    


    <video width="100%" height="auto" autoplay loop muted webkit-playesinline>
        <source src="../media/Contact-Header-video.mp4" type="video/mp4">
        Your browser does not support the video tag.
    </video>


    <script src="../js/common.js" type="text/javascript"></script>
</body>

</html>
