<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Homepage</title>
    <link rel="stylesheet" href="/../css/common.css" type="text/css">
    <link rel="stylesheet" href="/../css/foodRecognition.css" type="text/css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"> </script>
    
    <script src="https://cdn.jsdelivr.net/npm/@tensorflow/tfjs@latest/dist/tf.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@teachablemachine/image@latest/dist/teachablemachine-image.min.js"></script>
  </head>
  <body>

    <header class="header">
      <a href="home.ejs" class="logo">
          <img></a>
      <nav>
          <ul>
              <li><a href="contact.ejs">Contact</a></li>
              <li><a href="aboutUs.ejs">About Us</a></li>
          </ul>
      </nav>
  </header>

  <div class="video-title">
    <h1 id="page-title-Food-Recognition">Food Recognition</h1>
  </div>


<video width="100%" height="auto" autoplay loop muted>
    <source src="../media/FoodRecognition-Header-video.mp4" type="video/mp4">
    Your browser does not support the video tag.
</video>




<br><br><br><br>
<section class="para">
    <h1>How it Works</h1>
    <p>With the use of recognition based AI softwares and database, our food recognition tool is able to determine how much food waste is present in the image based on factors set by our developers</p>
  </section>
  <br><br>
  <section>
    <video id="cameraVid" class="same-sizes"></video>
    
    <button onClick="openCamera()">Turn on camera</button>
    <button onClick="closeCamera()">Turn off camera</button>
    <button id="analyze-btn" onClick="takePic();"> Analyze image </button>
    <form id="form" action="/image" method="POST">
      <input type="hidden" id="img-data" name="img_data">
    </form>
    <img class="same-sizes" id="image" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTJHB2LmJDE8mRo5vCggGcP-G5Jkov0nOYt700GGxzzQg&s">
    <canvas id="canvas" class="same-sizes"></canvas>
  </section>
    <section>
      <ul id="results">
      </ul>
    </section>
    
    <script src="../js/foodRecognition.js" type="text/javascript"></script>
    <script src="../js/common.js" type="text/javascript"></script>
    <% if (hasData) { %>
      <script>
        //adjust in future for future model
        let d = JSON.parse(window.sessionStorage[KEY]);
        d.forEach(x => {
          if (x.probability > 0.4) $("<li>"+x.className+"</li>").appendTo($("#results"));
        });
      </script>
    <% } %>
  </body>
</html>
